.home-banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30");
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  margin: 0;
  h1 {
    font-family: 'press start 2p';
    font-size: 45px
  }
  a {
    color: white;
    text-decoration: none;
    background-color: #EA2165;
    border-radius: 20px;
    padding: 7.5px 10px;
    &:hover {
      background-color: $dark_redish;
    }
  }
}
