<div class="container">
  <% if params[:label] == 'booking' %>
    <%= render 'bookings/index' %>
  <% elsif params[:label] == "character" %>
  <ul>
    <div class="add-char">
    <%= link_to "add a character",  new_character_path, class: "btn btn-secondary" %>
    </div>
    <%= render 'characters/list_characters' %>
    </ul>
  <% end %>
</div>

