<% if params[:label] == 'booking' %>
  <%= render 'bookings/index' %>
  <% elsif params[:label] == "character" %>
<%= link_to "add a character",  new_character_path %>
<%= render 'characters/list_characters' %>
<% end %>

<div style="height:200px;"><p>1</p></div>
