
<div class="container">
  <% if params[:label] == 'character' %>
  <ul>
    <div class="add-char">
    <%= link_to "add a character",  new_character_path, class: "btn btn-secondary" %>
    </div>
    <%= render 'characters/list_characters' %>
  </ul>
  <% else %>
    <%= render 'bookings/index' %>
  <% end %>
</div>
