
<div class="container">
  <%= form_for :tag, url: '/tagged', method: :get do |f| %>
    <%= f.text_field :tag_list %>
    <%= f.submit "Submit" %>
  <% end %>


  <ul>
    <%= render 'list_characters', characters: @characters %>
  </ul>
</div>
