<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.nerdcrave.com/wp-content/uploads/2015/12/banners2.jpg);">
  <div class="container">
    <h1>Welcome to <span style="font-style:italic">cos.find</span> !</h1>
    <h3>Your one-stop shop to find cosplayers</h3>
  </div>
</div>



<div class="container pt-3 mt-3 border" style="background-color:rgba(0, 0, 0, 0.03); border-radius:20px">
  <%= form_tag characters_path, method: :get, class: "pr-5 mr-3 form-inline flex-row-reverse" do %>
    <%= submit_tag 'Search', class: "btn btn-dark" %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a user / character"
    %>
  <% end %>
  <h4 class="char_h4">Available cosplayers near you:</h4>
  <%# form_for :tag, url: '/tagged', method: :get do |f| %>
    <%#= f.text_field :tag_list %>
    <%#= f.submit "Submit" %>
  <%# end %>

  <div class="row">
    <%= render 'list_characters', characters: @characters %>
  </div>
</div>
