<div class="container">
  <div class="">
    <div class="left_info">
    <div class="char_img">
      <%= cl_image_tag @character.photo, crop: :thumb, gravity: :face %>
    </div>

    <div class="char_desc">
      <h2>Info</h2>
      <p>Description</p>
      <p><%= @character.description %></p>
    </div>
    </div>
    <div class="char_form">
      <%= render 'bookings/new' %>

    </div>
  </div>
</div>
