.char_img {

  img {
    margin-top: 30px;
    width: 100%;
    object-fit: fill;
  }
}

.char_desc {
  text-align: center;
  // margin-top: 75px;
  // margin-left: 16%;
  // margin-right: 16%;
  p {
    margin: 0;
  }
  .char_price_info {
    color: $pinkish;
    font-weight: bolder;
    font-size: 25px;
  }
  .char_price_info_2 {
    font-size: 15px;
  }
}

.btn-secondary {
  background-color: $pinkish;
  border-radius: 30px;
  &:hover {
    background-color: $dark_redish;
  }
}
.char_form{
  margin: 30px;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}
.btn-secondary{
  border-color: rgba(0,0,0,0)
}

#booking_date {
  background-color: white;
}
