.char_img {
  img {
    height: 240px;
    width: 230px;
    object-fit: fill;
    position: absolute;
    left: 20px;
  }
}

.char_desc {
  text-align: center;
}

.btn-secondary {
  background-color: $pinkish;
  border-radius: 30px;
  &:hover {
    background-color: $dark_redish;
  }
}
.char_form{
  margin: 150px 170px;
}
