body {
  background-color: $whiteish;
}
.login_h2 {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  color: rgba(0,0,0,0.4);
}
.row {
  justify-content: center;
  .column {
    padding: 60px  30px;
    background-color: white;
    border-radius: 5px;
    a {
      font-weight: lighter;
      color: rgba(0,0,0,0.3);
    }
  }
}

.form-actions{
  // red color to button
  background-color: $pinkish;
  border-radius: 30px;
  height: 40px;
  width:  110px;
  text-align: center;
  margin: 0  auto;

  .btn{
    color: white;
    font-weight: lighter;
  }
  &:hover{
    background-color: $dark-redish;
  }
}
.form-control {
  border-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  width: 60vh;
}
.form-control-label{
  font-weight: lighter;
  color: rgba(0,0,0,0.3);
}
.form-check-label{
  font-weight: lighter;
  color: rgba(0,0,0,0.3);
}

// index
.container {
  ul{
    display: flex;
    flex-wrap: wrap;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height:350px;
  width:300px;
  margin: 20px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-trip-pricing {
  position: absolute;
  top: 105px;
  right: 10px;
  text-align: right;
}

.fa-trash-alt{
  position: absolute;
  top: 110px;
  left: 20px;
  font-size: 20px;
  color: $pinkish;
  &:hover {
    color: $dark-redish
  }
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  a {
    color: black;
    font-size:  20px;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
