.navbar-lewagon {
  justify-content: space-between;
  background: rgb(119, 119, 119);
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-family: 'Press Start 2P';
  a {
    color: white;
    text-decoration: none
  }
}

