.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.add-char{
  width:300px;
  height:350px;
  margin:20px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.add-char-btn{
  padding:10px 20px;
  background-color: $pinkish;

  &:hover{
    background-color: $dark-redish;
  }
}

.add_logo{
  margin-right: 7px;
  font-size: 29px;
}

.add_btn {
  display: flex;
  align-items: center;
}
