.btn-secondary {
  background-color: $pinkish;
  border-radius: 30px;
  &:hover {
    background-color: $dark_redish;
  }
}

.btn-secondary{
  border-color: rgba(0,0,0,0);
}

.book_show {
  display: flex;
  flex-direction: column;
}

.book_conatiner {
  background-color: #E8E8E7;
  border-style: none;
  border-radius: 20px;
  margin-top: 20px;
}
#map {
  margin: 20px 0px;
}
